/modules/*/handlers
/modules/*/admin
/modules/*/install
/modules/*/images
/modules/*/js
/modules/*/payment
/modules/*/lang
/modules/*/tools
/modules/*/templates
/modules/*/data
/modules/*/services
/modules/*/public
*.htm
*.html
*.doc
*.docx
*.gif
*.png
*.csv
*.css
*.js
*.xsd
*.xlsx
*.vks
*.txt
*.ttf
*.json
*.xml
*.sql
*.pptx
*.phpt
